---
import { getCollection } from "astro:content";
import type { WorkWithThumbnail } from "../types/work";

// Components
import WorkList from "../components/works/WorkList.tsx";
import Layout from "../layouts/Layout.astro";

const rawWorks = await getCollection("works");

const worksWithThumbnails: WorkWithThumbnail[] = rawWorks.map((work) => {
  const { body } = work;
  if (!body) return work;

  const obsidianImageMatch = body.match(/!\[\[([^\]]+)\]\]/);
  if (!obsidianImageMatch) return work;

  const filename = obsidianImageMatch[1];
  const entryId = work.id.replace(/\.mdx?$/, "");

  return {
    ...work,
    thumbnail: `/works/assets/${entryId}/${filename}`,
  };
});

const works = worksWithThumbnails.sort(
  (a, b) => b.data.endDate.getTime() - a.data.endDate.getTime(),
);

const allTags = [
  ...new Set(works.flatMap((work) => work.data.tags || [])),
] as string[];

const meta = {
  title: "Works | Chiba Yuto",
};
---

<Layout title={meta.title}>
  <div class="text-body-sm sm:text-body-base tracking-wider">
    <main
      class="flex flex-col gap-16 items-center
      px-5 pt-28 pb-4 max-w-dp mx-auto
      sm:items-start sm:px-20 sm:pt-40 sm:pb-10"
    >
      <div class="flex flex-col gap-2 w-full">
        <h1 class="text-4xl text-center sm:text-left">Works</h1>
        <p class="text-xs text-center sm:text-left">作品一覧</p>
      </div>
      <WorkList
        client:visible
        initialTags={allTags}
        initialWorks={works}
      />
    </main>
  </div>
</Layout>
