---
import { Icon } from 'astro-icon/components';

// 共通のアイコンスタイル
const iconClass = 'w-5 h-5 text-foreground';

// コンタクト情報
const contacts = [
  {
    name: 'chiba.yuto.2003(@)gmail.com',
    href: 'mailto:chiba.yuto.2003@gmail.com',
    icon: 'tabler:mail',
    ariaLabel: 'Email',
  },
  {
    name: 'PMGWork',
    href: 'https://x.com/PMGWork',
    icon: 'tabler:brand-x',
    ariaLabel: 'Twitter',
  },
  {
    name: 'PMGWork',
    href: 'https://github.com/pmgwork',
    icon: 'tabler:brand-github',
    ariaLabel: 'GitHub',
  },
];
---

<div class="flex flex-col gap-4">
  <h2 class="text-2xl">各種リンク</h2>
  <div class="flex flex-wrap gap-2">
    {
      contacts.map((contact) => (
        <a
          href={contact.href}
          aria-label={contact.ariaLabel}
          class="hover:border-primary corner-full flex items-center gap-2 border border-gray-200 p-[14px] text-sm transition-all duration-300 sm:px-4 sm:py-3"
          target={contact.name !== 'Email' ? '_blank' : undefined}
          rel={contact.name !== 'Email' ? 'noopener noreferrer' : undefined}
        >
          <Icon name={contact.icon} class={iconClass} />
          <span class="text-foreground hidden sm:inline">{contact.name}</span>
        </a>
      ))
    }
  </div>
</div>
