---
import { Image } from 'astro:assets';
import { urlForImage } from '../../sanity/lib/url-for-image';

import type { ThumbnailValue } from "../../types";

interface Props {
  className?: string;
  name: string;
  thumbnail?: ThumbnailValue;
}

const { className = '', name, thumbnail } = Astro.props;
---

<div class={`w-full ${className}`}>
  {thumbnail?.asset?.metadata?.dimensions ? (
    <Image
      class="rounded-lg border-gray-200 border"
      src={urlForImage(thumbnail).url()}
      alt={name}
      width={thumbnail.asset.metadata.dimensions.width}
      height={thumbnail.asset.metadata.dimensions.height}
      decoding="async"
      loading="eager"
    />
  ) : (
    <div class="w-full h-64 bg-gray-200 rounded-lg flex items-center justify-center">
      <p class="text-gray-500">画像がありません</p>
    </div>
  )}
</div>