---
interface Props {
  className?: string;
  name: string;
  startDate?: string;
  endDate?: string;
}

const { className, name, startDate, endDate } = Astro.props;

const formatToYYMM = (date?: string) => {
  if (!date) return '';
  const dateObj = new Date(date);
  const year = dateObj.getFullYear();
  const month = String(dateObj.getMonth() + 1).padStart(2, '0');
  return `${year}/${month}`;
};

const formattedStart = formatToYYMM(startDate);
const formattedEnd = formatToYYMM(endDate);
const displayDate = formattedStart === formattedEnd
  ? formattedStart
  : `${formattedStart} ~ ${formattedEnd}`;
---

<div class={className ?? ''}>
  <h1 class="text-2xl sm:text-4xl text-center sm:text-left">{name}</h1>
  {displayDate && (
    <p class="mt-1 sm:mt-2 text-gray-500 text-center sm:text-left">
      {displayDate}
    </p>
  )}
</div>